/* The sidenav */
.sidenav {
    height: 100%;
    width: 300px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: whitesmoke;
    overflow-x: hidden;
    padding-top: 20px;
    padding-left: 10px;
    padding-right: 10px;
}

/* Page content */
.main {
    margin-left: 200px; /* Same as the width of the sidenav */
}

.container {
    display: grid;
    grid-template-columns: 100px;
    grid-auto-rows: minmax(100px, auto);
    grid-gap: 20px;
}